.weather-icon {
  color: gray;
  font-size: 80px;
  text-shadow: 0.5px 0.5px 0.8px black;
  padding: 20px 10px;
  
}
h1 {
  color: rgb(95, 92, 92);
  text-shadow: 0.5px 0.5px 0.8px black;
  font-size: 45px;
  text-align: center;
}
h2 {
  font-size: smaller;
}
h3 {
  font-size: 24px;
  text-align: center;
}
.weather-app {
  
  padding: 20px 20px;
  width: 400px;
  margin: 0 auto;
  box-sizing: content-box;
  border: 1px solid black;
  border-radius: 1.5%;
  background-color: rgb(240, 240, 240);
  font-family: sans-serif;
}
#weather-info {
 

}

#feels-like {
 
}
#conditions {
 
}

.clear-icon,
.snow-icon {
  font-size: 30px;
}

.row {
  font-size: 24px;
  text-align: center;
}
#day-after {
  position: relative;
  top: 20px;
}
.form-control {
  position: relative;
  right: 10px;
  width: 280px;
}
.location-icon {
  position: relative;
  bottom: 45px;
  right: -150px;
  font-size: 20px;
}

#position-button {
  display: block;
  margin: 0 auto;
}

#footer-info {
  text-align: center;
  text-decoration: none;
  padding: 20px 20px;
  font-size: 12px;
}

li {
  list-style: none;
  color: black;
  font-size: 19px;
  font-weight: 100;
  height: 19px;
  line-height: 2;
  list-style: none;
  padding: 0;
  margin: 0;
}